{% extends "base.html" %}

{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

    <h1>This ia an interactive website crafted by Kyle Shao</h1>
    <h2>Feel free to explore and have fun!!!</h2>
    <!-- <p>{{ stuff }}</p>
    <p>{{ stuff|safe }}</p>
    <p>{{ stuff|striptags }}</p>  -->

    <!-- <h3>Fruits:</h3> -->

    <!-- {% for topping in fruits %}
        {% if topping == 41 %}
            {{ topping + 100 }}</br>
        {% else %}
            {{ topping }}</br>
        {% endif %}

    {% endfor %} -->

    <br/><br/>


{% endblock %}